@page "/course/{CourseId}"
@using LexiconLMS.Shared.Entities
@using Microsoft.EntityFrameworkCore
@using LexiconLMS.Client.Services
@using LexiconLMS.Client.Helpers

<h3>Course Details</h3>

<ActivitiesSchedule/>
<ModulesList List="Modules"/>
<StudentList StudentLst="Students" Course="Course" />

