@attribute [Route(UriHelper.CourseDetails)]
@using LexiconLMS.Shared.Entities
@using Microsoft.EntityFrameworkCore
@using LexiconLMS.Client.Services
@using LexiconLMS.Client.Helpers
@using Microsoft.AspNetCore.Authorization

<h3>Course Details</h3>

<ActivitiesSchedule/>

<ModulesList List="Modules"/>
<StudentList StudentLst="Students" Course="Course" />

