@page "/course/{CourseId}"
@using LexiconLMS.Shared.Entities
@using Microsoft.EntityFrameworkCore
@using LexiconLMS.Client.Services
@using LexiconLMS.Client.Helpers
@using Microsoft.AspNetCore.Authorization

<h3>Course Details</h3>

<ActivitiesSchedule/>

<ModulesList List="Modules"/>
<StudentList StudentLst="Students" Course="Course" />

@* <DocumentList List="CourseDocuments"></DocumentList> *@

@if (Course.CourseDocument != null && Course.CourseDocument.Any())
{
	<p>Documents:</p>
	<ul>
		@foreach (var item in Course.CourseDocument)
		{
			<li>
				@item.Name
				<button @onclick="() => DownloadDocument(item)">Download</button>
			</li>
		}
	</ul>
}
else
{
	<p>No documents available for this activity.</p>
}

