@page "/course/{CourseId}"
@using LexiconLMS.Shared.Entities
@using Microsoft.EntityFrameworkCore
@using LexiconLMS.Client.Services
@using LexiconLMS.Client.Helpers
@using Microsoft.AspNetCore.Authorization

<h3>Course Details</h3>

<ActivitiesSchedule/>

<ModulesList List="Modules"/>
<StudentList StudentLst="Students" Course="Course" />
<button class="btn btn-info" @onclick="@(() => {NavigationManager.NavigateTo($"coursedocumentupload/{Course.Id}");})">Upload Document</button>
<DocumentList List="CourseDocuments"></DocumentList>


