@using LexiconLMS.Shared.Entities


@if (!string.IsNullOrEmpty(Message))
{
	<p class="alert alert-success">@Message</p>
}

@if (List != null && List.Any())
{
	
	<ul>
		@foreach (var item in List)
		{
			<li>
				@item.Name
				<button @onclick="() => DownloadDocument(item)">Download</button>
			</li>
		}
	</ul>
}
else
{
	<p>No documents currently uploaded</p>
}

@code {
	[Parameter]
	public List<Document>? List { get; set; }
}