@using LexiconLMS.Shared.Entities


@if (!string.IsNullOrEmpty(Message))
{
	<p class="alert alert-success">@Message</p>
}

@if (List != null && List.Any())
{
	
	<ul>
		@foreach (var item in List)
		{
			<li>
				<div class="row">
				<div class="col-lg-6 mb-1">
				@item.Name
				</div>
				<div class="col-lg-2 mb-1">
					<button @onclick="() => DownloadDocument(item)">Download</button>
				</div>
				</div>
				
			</li>
		}
	</ul>
}
else
{
	<p>No documents currently uploaded</p>
}

@code {
	[Parameter]
	public List<Document>? List { get; set; }
}